{
	"env": {
		"node": true,
		"browser": true
	},

	"parser": "babel-eslint",

	"rules": {
		"strict": 0,

		"no-cond-assign"			: 1,
		"no-console"				: 0,
		"no-debugger"				: 1,
		"no-dupe-args"				: 1,
		"no-dupe-keys"				: 1,
		"no-empty"					: 1,
		"no-empty-class"			: 1,
		"no-ex-assign"				: 1,
		"no-extra-boolean-cast"		: 1,
		"no-extra-parens"			: 1,
		"no-extra-semi"				: 1,
		"no-func-assign"			: 1,
		"no-inner-declarations"		: 1,
		"no-invalid-regexp"			: 1,
		"no-irregular-whitespace"	: 1,
		"no-negated-in-lhs"			: 1,
		"no-obj-calls"				: 1,
		"no-regex-spaces"			: 0,
		"no-reserved-keys"			: 1,
		"no-sparse-arrays" 			: 1,
		"no-unreachable"			: 1,
		"use-isnan"					: 1,
		"valid-jsdoc"				: 0,
		"valid-typeof"				: 1,




		"block-scoped-var"			: 0,
		"complexity"				: 1,
		"consistent-return"			: 0,
		"curly"						: 0,
		"default-case"				: 0,
		"dot-notation"				: 0,
		"eqeqeq"					: 1,
		"guard-for-in"				: 1,
		"no-alert"					: 1,
		"no-caller"					: 1,
		"no-div-regex"				: 1,
		"no-else-return"			: 1,
		"no-empty-label"			: 1,
		"no-eq-null"				: 1,
		"no-eval"					: 1,
		"no-extend-native"			: 1,
		"no-extra-bind"				: 1,
		"no-fallthrough"			: 1,
		"no-floating-decimal"		: 1,
		"no-implied-eval"			: 1,
		"no-iterator"				: 1,
		"no-labels"					: 1,
		"no-lone-blocks"			: 1,
		"no-loop-func"				: 1,
		"no-multi-spaces"			: 1,
		"no-multi-str"				: 1,
		"no-native-reassign"		: 1,
		"no-new"					: 1,
		"no-new-func"				: 1,
		"no-new-wrappers"			: 1,
		"no-octal"					: 1,
		"no-octal-escape"			: 1,
		"no-process-env"			: 1,
		"no-proto"					: 1,
		"no-redeclare"				: 1,
		"no-return-assign"			: 1,
		"no-script-url"				: 1,
		"no-self-compare"			: 1,
		"no-sequences"				: 1,
		"no-throw-literal"			: 1,
		"no-unused-expressions"		: 1,
		"no-void"					: 0,
		"no-warning-comments"		: 1,
		"no-with"					: 1,
		"radix"						: 0,
		"vars-on-top"				: 0,
		"wrap-iife"					: 1,
		"yoda"						: 0,


		"no-catch-shadow"			: 1,
		"no-delete-var"				: 1,
		"no-label-var"				: 1,
		"no-shadow"					: 1,
		"no-shadow-restricted-names": 1,
		"no-undef"					: 1,
		"no-undef-init"				: 1,
		"no-undefined"				: 1,
		"no-unused-vars"			: 1,
		"no-use-before-define"		: 1,



		"indent"					: [2, 2],
		"brace-style"				: [2, "1tbs"],
		"camelcase"					: 1,
		"comma-spacing"				: [2, {"before": false, "after": true}],
		"comma-style"				: [2, "last"],
		"eol-last"					: 1,
		"func-style"				: 0,
		"key-spacing"				: [2, {"beforeColon": false, "afterColon": true }],
		"max-nested-callbacks"		: [2, 3],
		"new-cap"					: 1,
		"new-parens"				: 1,
		"no-array-constructor"		: 1,
		"no-inline-comments"		: 1,
		"no-lonely-if"				: 1,
		"no-mixed-spaces-and-tabs"	: 1,
		"no-multiple-empty-lines"	: [1, {"max": 2}],
		"no-nested-ternary"			: 1,
		"no-new-object"				: 1,
		"no-space-before-semi"		: 1,
		"no-spaced-func"			: 1,
		"no-ternary"				: 0,
		"no-trailing-spaces"		: 2,
		"no-underscore-dangle"		: 0,
		"no-wrap-func"				: 1,
		"one-var"					: 0,
		"quotes"					: [2, "single"],
		"semi"						: [2, "always"],
		"semi-spacing"				: [2, {"before": false, "after": true}],
		"space-after-keywords"		: [2, "always"],
		"space-return-throw-case"	: 2,
		"spaced-line-comment"		: 1

	}
}
